    .usercard1 {
      margin-top: 30px;
      padding: 0px;
  }

  .mat-card-avatar {
      background-image: url('/assets/userPhoto.png');
      background-size: cover;

  }
  .mat-card-actions {
      display: flex;
  }

  .list-header-title {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03);
    font-weight: bold;
    padding: 0px;
   
  }

  .mat-card-image {
    margin: 0px;
    max-width: 100%;
  }

  .mat-card-header {
      padding-left: 10px;
      padding-top: 10px; 
  }

  .mat-raised-button {
      width: 100%;
      height: 100%;
      margin-bottom: 7px;
  }
  


  .usercard2 {
   margin: 0px;
    
}

.viewport {
    width: 100%;
    height: 100%;
    margin-left: 40px;
}

.cdk-virtual-scroll-viewport {
    height: 50%;
    margin: 20px;
    outline: solid black;

}

.example-form {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03);
    font-weight: bold;
}

.example-form .mat-form-field {
  margin: 0px;
}

.mat-grid-tile {
    outline: solid black;
}

  


  
 
  