  .mat-card {
      max-width: 500px;
      max-height: auto;
      margin: auto;
      margin-top: 30px;
  }

  .mat-card-avatar {
      background-image: url('/assets/userPhoto.png');
      background-size: cover;
  }

  .mat-card-actions {
      display: flex;
  }

  .mat-card-actions .flex-spacer {
      width: 100%;
  }