<!--
  fxLayout.lt-sm="column"  : Will only be applied when the viewport is less thatn small.
  fxLayout = "row"         :  If ;using big screens, display data in rows
  fxLayout.xs ="column" ;  : using small screens, display data in columns
  fxLayoutWrap             : Will wrap this div for us so that flex will be applied
  fxLayoutGap = 20%;       : Will give us a gap bewteen each fxFlex
-->
  <div class = "container" fxLayout = "row" fxLayout.xs = "column" fxLayoutWrap fxLayoutAlign="center">
    <div fxFlex = "40%">
        <mat-card class="usercard">
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>{{ userData?.name }}</mat-card-title>
                <mat-card-subtitle>{{ userData?.username }}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="/assets/userPhoto.png">
              <mat-card-content>
                <p>{{ userData?.github }}</p>
                <p>{{ userData?.linkedin }}</p>
                <p> {{ userData?.class}}</p>
              </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex = "40%">
      <mat-card class="usercard">

          <mat-grid-list cols="2" rowHeight="2:1">

              <mat-grid-tile>
    
                  <mat-nav-list>
                    <h4 mat-subheader >Skills</h4>
                    <mat-list-item *ngFor = "let skill of userData?.skills"> 
                      <mat-icon mat-list-icon>edit</mat-icon>
                      <h5>{{ skill }}</h5>
                    </mat-list-item>
                  </mat-nav-list>
    
              </mat-grid-tile>
              <mat-grid-tile>
    
                  <mat-nav-list>
                      
                      <mat-list-item *ngFor = "let class of userData?.classes"> 
                        <mat-icon mat-list-icon>school</mat-icon>
                        {{ class }} 
                      </mat-list-item>
                  </mat-nav-list>
                
              </mat-grid-tile>
    
            </mat-grid-list>
      </mat-card>

    </div>
  </div>