<!--
  fxLayout.lt-sm="column"  : Will only be applied when the viewport is less thatn small.
  fxLayout = "row"         :  If ;using big screens, display data in rows
  fxLayout.xs ="column" ;  : using small screens, display data in columns
  fxLayoutWrap             : Will wrap this div for us so that flex will be applied
  fxLayoutGap = 20%;       : Will give us a gap bewteen each fxFlex
-->
  <div class = "container" fxLayout = "row" fxLayout.xs = "column" fxLayoutWrap fxLayoutAlign="center">

    <div fxFlex = "40%">
        <mat-card class="usercard1">
                <mat-card-header class="list-header-title">
                    <div mat-card-avatar></div>
                    <mat-card-title>{{ userData?.name }}</mat-card-title>
                    <mat-card-subtitle>{{ userData?.username }}</mat-card-subtitle>
                  </mat-card-header>    
                <img mat-card-image src="/assets/userPhoto.png">
                <mat-card-content>
                
                <mat-grid-list cols="2" rowHeight="4:1">
                    <mat-grid-tile>
                          <button mat-raised-button color="warm">{{ userData?.github }}</button>
                    </mat-grid-tile>
                    
                    <mat-grid-tile>
                        <button mat-raised-button color="primary">{{ userData?.linkedin }}</button>
                    </mat-grid-tile>
                    </mat-grid-list>
              </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex = "30%">
      <mat-card class="usercard2">

          <mat-grid-list cols="2" rowHeight="1:1">

              <mat-grid-tile>
                  
                  <cdk-virtual-scroll-viewport itemSize = "skills.size" class="viewport">
                      <mat-chip-list>
                          <div *cdkVirtualFor = "let skill of userData?.skills" class="item">
                              <mat-chip>
                                {{skill}}
                              <mat-icon matChipRemove>cancel</mat-icon>
                              </mat-chip>
                            </div>
                      </mat-chip-list>
                    </cdk-virtual-scroll-viewport>
    
              </mat-grid-tile>
              <mat-grid-tile>

                      <cdk-virtual-scroll-viewport itemSize = "class.size" class="viewport">
                        <mat-chip-list>
                            <div *cdkVirtualFor = "let class of userData?.classes" class="item">
                                <mat-chip>
                                  {{class}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                              </div>
                        </mat-chip-list>
                      </cdk-virtual-scroll-viewport>

              </mat-grid-tile>
    
            </mat-grid-list>
      </mat-card>

    </div>
  </div>