<!--
  fxLayout.lt-sm="column"  : Will only be applied when the viewport is less thatn small.
  fxLayout = "row"         :  If ;using big screens, display data in rows
  fxLayout.xs ="column" ;  : using small screens, display data in columns
  fxLayoutWrap             : Will wrap this div for us so that flex will be applied
  fxLayoutGap = 20%;       : Will give us a gap bewteen each fxFlex
-->
  <div class = "container" fxLayout = "row" fxLayout.xs = "column" fxLayoutWrap fxLayoutAlign="center">

    <div fxFlex = "40%" fxFlex.xs = "80%">
        <mat-card class="usercard1">
          
                <mat-card-header class="list-header-title">
                    <div mat-card-avatar></div>
                    <mat-card-title>{{ userData?.name }}</mat-card-title>
                    <mat-card-subtitle>{{ userData?.username }}</mat-card-subtitle>
                  </mat-card-header>  

                  <div class="image-background">
                    <div class="image-container">
                        <img mat-card-image [src]="imageToShow" 
                          alt="Image not found" onerror="this.onerror=null; this.src = 'assets/userPhoto.png';">
                    </div>
                  </div>

                     <!--Taking picture as input-->
              <div class="form-group">
                <input type="file" id="file"(change)="handleFileInput($event.target.files)">
                <button (click)="uploadFileToActivity()">submit</button>
              </div>
                    <ng-template #noImageFound>
                      <img src="/assets/userPhoto.png"> 
                    </ng-template>
                <!--img mat-card-image -->
                <mat-card-content>
                
                <mat-grid-list cols="2" rowHeight="4:1" class="user-links">
                    <mat-grid-tile>
                          <button mat-raised-button color="warm">{{ userData?.github }}</button>
                    </mat-grid-tile>
                    
                    <mat-grid-tile>
                        <button mat-raised-button color="primary">{{ userData?.linkedin }}</button>
                    </mat-grid-tile>
                </mat-grid-list>

              </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex = "40%" fxFlex.xs = "80%">
      <div class="usercard2">
        <mat-grid-list cols="1" rowHeight="2:1">
          <!-- Will hold class list -->
            <mat-grid-tile>
            <div class ="grid-container">  
              <div class = "grid-search">
                  <div class="wrapper">
                      <input type="text" placeholder="Search for Class..." />
                      <button (click)="addClass()" mat-flat-button color="primary">Add Class</button>
                  </div>
              </div>
              
              <div class = "grid-item">
                  <cdk-virtual-scroll-viewport itemSize="classes.size" class="viewport">
                      <mat-chip-list>
                        <mat-chip *ngFor = "let class of userData?.classes">
                          {{ class }}
                          <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                      </mat-chip-list>
                    </cdk-virtual-scroll-viewport>
                </div>
            </div>    
            </mat-grid-tile>
            <br>
            <br>
            <br>
          <!-- Will hold the skill list -->
          <mat-grid-tile>
              <div class ="grid-container">  
                  <div class = "grid-search">
                      <div class="wrapper">
                          <input type="text" placeholder="Search for Skills..." />
                          <button (click)="addSkill()" mat-flat-button color="primary">Add Skill</button>
                      </div>
                  </div>
                  <div class = "grid-item">
                      <cdk-virtual-scroll-viewport itemSize="skills.size" class="viewport">
                          <mat-chip-list>
                            <mat-chip *ngFor = "let skill of userData?.skills">
                              {{ skill }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            
                          </mat-chip-list>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>