<mat-card>
  <mat-card-header>
    <mat-card-title> <h4>{{collabData.title}}</h4> </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-accordion>
        <h4 class="description"> {{ collabData.description }} </h4>
        
        
        <!-- Event Binding: In this case the event is (opened) -->
        <mat-expansion-panel 
                       (opened)="panelOpenState = true && makeTable()"
                       (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Skills/Classes Wanted.
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
          </mat-expansion-panel-header>

            <ng-container class="table-container">
              <div class="table">
                <collab-table [table] = "table" [xAxisReq] = "xAxisReq"></collab-table>
              </div>
            </ng-container>
          
          
        </mat-expansion-panel>
    </mat-accordion>
    
  </mat-card-content>

  <mat-card-actions>
        <button mat-raised-button color = "primary"> Join </button>
        <button mat-raised-button color = "primary"> Leave </button>
        <button mat-raised-button color = "primary"> Delete</button>
  </mat-card-actions>

</mat-card>