<mat-card>
  <mat-card-header >

    <mat-card-title> 

      <mat-grid-list  cols="2" rowHeight="4:1">
        <mat-grid-tile>{{collabData?.title}}</mat-grid-tile>
        <mat-grid-tile><mat-icon>group</mat-icon> : {{collabData?.members.length}} / {{ collabData?.size}}</mat-grid-tile>
      </mat-grid-list>
      
    </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
        <div class = "content">
            <p class="description">Description: {{ collabData?.description }} </p>
            <p class="date">Date: {{ collabData?.date | date:'medium' }}</p>
            <p class="duration">Apply By: {{ collabData?.duration | date:'medium' }}</p>
            <p class="location">Location: {{ collabData?.location }}</p>

            <div class = "requirements">
                <mat-chip-list>
                    Classes: 
                    <mat-chip *ngFor = "let class of collabData?.classes">
                      {{ class }}
                    </mat-chip>
                </mat-chip-list>
                <br>
                <mat-chip-list>
                    Skills: 
                    <mat-chip *ngFor="let skill of collabData?.skills">
                      {{ skill }}
                    </mat-chip>
                </mat-chip-list>
            </div>
      
        </div>
        <br>
        
        <!-- Event Binding: In this case the event is (opened) -->
        <mat-expansion-panel 
                       (opened)="panelOpenState = true && makeTable()"
                       (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <h4>Members</h4>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
          </mat-expansion-panel-header>

            <ng-container class="table-container">
              <div class="table">
                <collab-table [table] = "table" [xAxisReq] = "xAxisReq"></collab-table>
              </div>
            </ng-container>
          
          
        </mat-expansion-panel>
    </mat-accordion>
    
  </mat-card-content>

  <mat-expansion-panel 
                       (opened)="panelOpenState = true && actionCheck()"
                       (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>Actions</h4>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
          </mat-expansion-panel-header>
            <mat-card-actions>
              <button *ngIf="checkPartOf() == false" mat-raised-button color = "primary" (click) = "joinCollab()"  > Join </button>
              <button *ngIf="checkPartOf() == true"  mat-raised-button color = "primary" (click) = "leaveCollab()" > Leave </button>
              <button *ngIf="checkOwner() == true"   mat-raised-button color = "primary" (click) = "deleteCollab()"> Delete </button>
              <button *ngIf="checkOwner() == true"   mat-raised-button color = "primary" > <a routerLink="/home/editcollab">Edit</a></button>
            </mat-card-actions>   
        </mat-expansion-panel>

  

</mat-card>