<!-- Steppers -->
<div class = "container">
    <mat-vertical-stepper [linear] = "isLinear" #stepper >

            <mat-step [stepControl] = "firstFormGroup">
                <form [formGroup] = "firstFormGroup">
                    <ng-template matStepLabel >Fill in Collab Info</ng-template>
                    <mat-form-field>
                        <input matInput placeholder = "Collab Title..." formControlName = "collabTitle" required>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput placeholder = "Description..." formControlName = "collabDescription" required></textarea>
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput placeholder = "Location..." formControlName = "collabLocation" required>
                    </mat-form-field>
                    <mat-form-field>
                            <input type = "number" min="1" matInput placeholder = "Collab Size..." formControlName = "collabLocation" required>
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput 
                            formControlName = "collabDate" [matDatepicker] = "picker" placeholder = "Choose a date" required>
                            <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </form>
            </mat-step>
            <mat-step [stepControl] = "secondFormGroup" >
                <ng-template matStepLabel>Add Classes and Skills</ng-template>
                <div>
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let fruit of fruits" 
                                      [selectable]="selectable"
                                      [removable]="removable" 
                                      (removed)="remove(fruit)">
                                        {{fruit}}
                                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="New fruit..."
                                    #fruitInput
                                    [formControl] = "fruitCtrl"
                                    [matAutocomplete] = "auto"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto = "matAutocomplete" (optionSelected) = "selected($event)">
                            <mat-option *ngFor = "let fruit of filteredFruit | async" [value] = "fruit">
                                {{ fruit }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                
        
            </mat-step>

                
            <mat-step>
        
            </mat-step>
        
    </mat-vertical-stepper>
</div>

<button (Click) = "createCollab(firstFormGroup.value, secondFormGroup.value)">submit</button>