<!-- Steppers -->
<div class = "container">
        <mat-vertical-stepper [linear] = "false" #stepper>
    
                <mat-step [stepControl] = "firstFormGroup">
                    <form [formGroup] = "firstFormGroup" (ngSubmit) = "onSubmit()">
                        <ng-template matStepLabel >Fill in Collab Info</ng-template>
                        <mat-form-field>
                            <input matInput placeholder = "Collab Title..." formControlName = "title" required>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput placeholder = "Description..." formControlName = "description" required></textarea>
                        </mat-form-field>
                        <mat-form-field>
                                <input matInput placeholder = "Location..." formControlName = "location" required>
                        </mat-form-field>
                        <mat-form-field>
                                <input type = "number" min="2"  matInput placeholder = "Collab Size..." formControlName = "size" required>
                        </mat-form-field>
                        <mat-form-field>
                                <input formControlName = "date" matInput [owlDateTimeTrigger]="dt" placeholder = "Choose a date" [owlDateTime]="dt" required>
                                <owl-date-time #dt></owl-date-time>
                        </mat-form-field>
                        <mat-form-field>
                                <input type = "number" min="2"  matInput placeholder = "Duration..." formControlName = "duration" required>
                        </mat-form-field>
                    </form>
                </mat-step>
                <mat-step [stepControl] = "secondFormGroup" >
                    <ng-template matStepLabel>Add Classes and Skills</ng-template>
                    <div>
                        <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipListSkills>
                                <mat-chip
                                    *ngFor="let skill of skills"
                                    [selectable]="selectable"
                                    [removable]="removable"
                                    (removed)="removeSkill(skill)">
                                    {{ skill }}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input
                                    placeholder="New Skill..."
                                    #skillInput
                                    [formControl]="skillCtrl"
                                    [matAutocomplete]="auto"
                                    [matChipInputFor]="chipListSkills"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="addSkill($event)">
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedSkill($event)">
                                        <mat-option *ngFor="let skill of filteredSkills" [value]="skill">
                                            {{ skill }}
                                        </mat-option>
                                    </mat-autocomplete>
                            </mat-chip-list>
                                    
                        </mat-form-field>
                        <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipListClasses>
                                <mat-chip
                                    *ngFor = "let class of classes"
                                    [selectable] = "selectable"
                                    [removable] = "removable"
                                    (removed) = "removeClass(class)">
                                    {{ class }}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input 
                                    placeholder="New Class..."
                                    #classInput
                                    [formControl]="classCtrl"
                                    [matAutocomplete]="auto2"
                                    [matChipInputFor]="chipListClasses"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="addClass($event)">
                                    <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedClass($event)">
                                        <mat-option *ngFor="let class of filteredClasses" [value]="class">
                                            {{ class }}
                                        </mat-option>
                                    </mat-autocomplete>
                            </mat-chip-list>

                        </mat-form-field>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> Confirm Your Information</ng-template>
                    <div>
                        <button mat-raised-button (click) = "createCollab()" color="primary">Done</button>
                    </div>
                </mat-step>
            
        </mat-vertical-stepper>
    </div>