<mat-drawer-container class="container" autosize >
    <!-- Will be triggered by (click) = "drawer.toggle()" -->
    
    <mat-drawer #drawer class="sidenav">
      
            <button color="primary" mat-button (click) = "home()">
              <mat-icon>home</mat-icon>
              <span>Home</span>
            </button>

            <button mat-button (click) = "user()">
                <mat-icon>person</mat-icon>
                <span>User Info</span>
              </button>
              
            <button mat-button (click)="logOut()">
                <mat-icon>directions_run</mat-icon>
                <span>LogOut</span>
              </button>

    </mat-drawer>
    
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <!-- 
                  drawer.toggle(): will call #drawer and will bring the sidenav into view
                -->
                <button mat-icon-button (click) = "drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                </button>
                 
                <button mat-button (click) = "home()">Hunter Collab</button>
                <span class="spacer"></span>
                <!--
                   How every button is implemented 
                    [matMenuTriggerFor] is bindded to button menu; will be triggered by menu
                  -->

            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
