<div class = "medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Log-in</div>
        <!-- Error that will display if the entire form is not valid -->
      <div *ngIf="form.errors" class = "alert alert-danger">
          User or Password is invalid!
      </div>
      
      <form [formGroup] = "form" (ngSubmit) = "onSubmit()">
  
        <!-- Username Field -->
        <div class="form-container">

          <mat-form-field>
              <!-- Associate key from ts file: username -->
              <input 
                  formControlName = "username"
                  matInput
                  id="username" 
                  type="email" 
                  class="form-control"
                  placeholder="Hunter Email...">
          </mat-form-field>
          <div *ngIf="username.touched && username.invalid" 
                class="alert alert-danger">
                <mat-error *ngIf="username.errors.required">Email is <strong>Required!</strong></mat-error>
          </div>
        </div>
 
        
        <!-- Password Field -->
        <div class="form-container">
            <mat-form-field>
    
                <!-- Associate key from ts file: username -->
                <input 
                    formControlName = "password"
                    matInput
                    id="password" 
                    type="text" 
                    class="form-control"
                    placeholder="Password...">
            </mat-form-field>
            <div *ngIf="password.touched && password.invalid" 
                  class="alert alert-danger">
                  <mat-error *ngIf="password.errors.required">Password <strong>Required!</strong></mat-error>
            </div>
        </div>
  
          <div class="form-container">
              <button class="form-button" mat-raised-button color = "primary" type="submit" [disabled] = "!form.valid">Login</button>
              <br>
              <button class="form-button"  mat-raised-button color = "primary" routerLink="/register">Register</button>
          </div>      
  
      </form>
  
    </div>
  </div>
  
  
  
  
  
  