
<!--
  <!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="imgcontainer">
        <img src="assets/logo.png"  width="250" height="240">
      </div>

    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit(username.value, password.value)">
      <div class="container">
        
          <label>
            <input type="text" #username placeholder="Enter Username" formControlName="username" required>
          </label><br>
          <label>  
            <input type="text" #password placeholder="Enter password" formControlName="password" required>
          </label><br>
          <button type="submit" [disabled]="!loginForm.valid">Submit</button><br>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label><br>
          <h4>----or----</h4>

      </div>
    </form>

    <div class ="container">

        <button>
          <a routerLink="/register" >Register Account</a>
          
        </button>
  
      </div>
  
  
      <div class ="container">
          <h5></h5>
      </div>

    

</body>
</html>
-->
<p>Log In Page!</p>