

<button (click) = "createCollab()">createCollab</button>
<button (click) = "join()">join</button>
<button (click) = "leave()">leave</button>
<button (click) = "updateUser()">Update User Profile</button>
<button (click) = "getCurrentSkills()">getCurrentSkills</button>
<button (click) = "addskills()">addskill</button>
<button (click) = "addClass()">addClass</button>
<button (click) = "getClasses()">getClasses</button>




<h6>------Below Buttons are in Progress----------</h6>


<button (click) = "sendMessage()">Send Message</button>
<button (click) = "getmessage()">Get Message</button>
<button (click) = "recomendedCollab()">RecomendedCollab</button>
<button (click) = "getImageFromService()">pic</button>



<!-- <img src="getImageFromService()">  -->



<br><Br><br>
    <div class = "medium-list">
        <div class="list-viewer-wrapper">
          <div class="list-header-title">add skills</div>
            <!-- Error that will display if the entire form is not valid -->
          
          
          <form [formGroup] = "form" (ngSubmit) = "addskills()">
      
                  <input 
                      formControlName ="skills"
                      id="skills" 
                      placeholder="Enter skill one at time">
                
              <div class="form-container">
                  <button class="form-button" mat-raised-button color = "primary" type="submit" >updateSkills</button>
              </div>      
      
          </form>
               
      
        </div>
      </div>
      
         
