

<button (click) = "createCollab()">createCollab</button>
<button (click) = "join()">join</button>
<button (click) = "leave()">leave</button>
<button (click) = "updateUser()">Update User Profile</button>


<h6>------Below Buttons are in Progress----------</h6>

<button (click) = "updateSkills()">UpdateSkills</button>



<!--IN Progress-->
<button (click) = "updateClasses()">updateClasses</button>
<button (click) = "sendMessage()">sendMessage</button>
<button (click) = "recomendedCollab()">RecomendedCollab</button>





