<h4>Messaging to {{showMem()}}</h4>





<form class="bottom" [formGroup] = "form" (ngSubmit) = "sendPersonalMessage()">    
      <mat-form-field>
          <input 
              formControlName = "message"
              matInput
              id="message" 
              type="text" 
              placeholder="Message">
      </mat-form-field> 
      <div *ngIf=" message.touched && message.invalid" 
      class="alert alert-danger">
      <mat-error *ngIf="message.errors.required">null<strong>Required!</strong></mat-error>
</div>
<div class="form-container">
    <button class="form-button" mat-raised-button color = "primary" type="submit" [disabled] = "!form.valid">send</button>
</div> 
  </form>