     <!--
       <button>
          <a (click) ="userDetails()">Profile</a>
        </button>
      <button>
        </button>
      <button>
          <a (click) ="userSkill()">userSkill</a>
        </button>
        <button>
          <a (click) ="userClass()">userClass</a>
        </button>
        <button>
          <a (click) ="searchSkill()">searchSkill</a>
        </button>
        <button>
          <a (click) ="collabDetails()">collabDetails</a>
        </button>
        <button>
          <a (click) ="AllCollabs()">AllCollabs</a>
        </button>
        <button>
          <a (click) ="activeCollabs()">activeCollabs</a>
        </button>
        <button>
          <a (click) ="myCollabs()">myCollabs</a>
        </button>

        <button>
          <a (click) ="logOut()">Logout</a>
        </button> <br> <br> <br>


            <h1>Profile of {{name}}</h1> <br>
            <td>Github : <a href="{{github}}">{{github}}</a></td> <br>
            <td>Linkedin : <a href="{{linkedin}}">{{linkedin}}</a></td> <br>
            <td>{{skills}}</td> <br>
            <td>{{classes}}</td> <br>
            <td>{{username}}</td> <br>

            <table style="width : 50%">
              <thead>
                <tr>
                  <th>name</th>
                  <th>Github</th>
                  <th>linkedin</th>
                  <th>skills</th>
                  <th>classes</th>
                  <th>username</th>
                </tr>
              </thead>
                  
          </table> 

     -->
   <mat-tab-group>

      <mat-tab label="Active Collabs">
        <ng-template matTabContent>
            Active Collabs
        </ng-template>
      </mat-tab>

      <mat-tab label="Recommended Collabs">
        <ng-template matTabContent>
            Recommended Collabs
        </ng-template>
      </mat-tab>

      <mat-tab label="My Collabs">
        <ng-template matTabContent>
            My Collabs
            

        </ng-template>
      </mat-tab>

   </mat-tab-group>
     
          
            
