   <mat-tab-group>

      <mat-tab label="All Collabs">
        <ng-template matTabContent>
          <ng-container *ngFor = "let collab of collabData">
            <div class ="collab">
                <!-- Property binding from component to component using @Input() and @Output -->
                <collab-card [collabData] = "collab"></collab-card>
            </div>      
          </ng-container>
        </ng-template>
      </mat-tab>

      <mat-tab label="Recommended Collabs">
        <ng-template matTabContent>
            Recommended Collabs
        </ng-template>
      </mat-tab>

      <mat-tab label="My Collabs">
        <ng-template matTabContent>
          

        </ng-template>
      </mat-tab>

   </mat-tab-group>
     

          
            
