
      <button>
          <a (click) ="userDetails()">Profile</a>
        </button>
      <button>
        <!--<a (click) ="userPicture()">userPicture</a>--->
        </button>
      <button>
          <a (click) ="userSkill()">userSkill</a>
        </button>
        <button>
          <a (click) ="userClass()">userClass</a>
        </button>
        <button>
          <a (click) ="searchSkill()">searchSkill</a>
        </button>
        <button>
          <a (click) ="collabDetails()">collabDetails</a>
        </button>
        <button>
          <a (click) ="AllCollabs()">AllCollabs</a>
        </button>
        <button>
          <a (click) ="activeCollabs()">activeCollabs</a>
        </button>
        <button>
          <a (click) ="myCollabs()">myCollabs</a>
        </button>

        <button>
          <a (click) ="logOut()">Logout</a>
        </button>


            
