<!DOCTYPE html>
<html>
<head>
    <h3>Collab Screen</h3>
</head> 

<body>

  <div>
    <h2>
        Collab Feeds <br>
        <h3>_____________________________________________________</h3><br>
        <button>
          <a (click) ="userDetails()">Profile</a>
        </button>
    </h2>
  </div>

  <div>
      <p>
      Collab # 1
      </p><br>
      <p>
      Collab # 2
      </p><br>
      <p>
      Collab # 3
      </p><br>
      <p>
      Collab # 4
      </p><br>
      <p>
      Collab # 5
      </p><br>
  </div>
            
  <div>
      <button>
          <a (click) ="logOut()">Logout</a>
        </button>
  </div>


            
</body>
                                   
            
</html>