<!DOCTYPE html>
<html>
<head>
    <h3>Collab Screen</h3>
</head> 

<body>

  <div>
    <h2>
        Collab Feeds
    </h2>
  </div>











<p>
  Collab # 1
</p><br>
<p>
    Collab # 2
  </p><br>
  <p>
      Collab # 3
    </p><br>
    <p>
        Collab # 4
      </p><br>
      <p>
          Collab # 5
        </p><br>
        <p>
            Collab # 6
          </p><br>





         





          
            
            <div>
                <button>
                    <a (click) ="userDetails()">Profile</a>
                  </button>
                <button>
                    <a (click) ="logOut()">Logout</a>
                  </button>
            </div>


            
</body>
                                   
            
</html>